* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: #212020;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

header {
  background-color: #243f65;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

header p {
  margin: 0 auto;
  color: white;
}

header img {
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.content {
  width: calc(100vw - 240px);
  color: white;
}

.botones-container {
  display: flex;
  margin-right: 10px;
}

.boton {
  background-color: transparent;
  border: none;
  padding: 3px;
  margin-left: 10px;
  color: white;
  font-size: 30px;
}

.boton-blancas {
  color: rgba(255, 255, 255, 0);
}

.volver-container {
  position: absolute;
  top: center;
  left: 10px;
}
  
.volver-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.volver-container img {
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}
.regresar {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: inline-flex;
  padding: 15px;
  font-size: 14px;
  border: none;
  border-radius: 40px;
  background-color: rgba(240, 131, 35, 0);
  color: rgb(255, 255, 255);
}

.regresar img {
  width: 50px;
  height: 50px;
}

.admin-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.admin-container a {
  text-decoration: none;
}

.usuarios,
.libros {
  background-color: #f08323;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 75px;
  color: white;
  margin: 30px;
  display: flex;
  height: 200px;
  width: 250px;
  border-radius: 20px;
  transition: transform 0.2s;
  align-items: center;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border-color: transparent;
}

.usuarios::before,
.libros::before {
  content: "";
  display: none;
}

.header-bibliotek {
  margin: 40px;
}

.header-bibliotek h2,
hr {
  color: white;
  font-size: 55px;
  text-align: center;
  margin-bottom: 20px;
}

div,
button,
tr {
  color: #27272b;
}

div {
  text-align: left;
}
