/* Estilos para el encabezado */
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #222;
  color: #fff;
}
header {
  background-color: #2a2a2a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

header a {
  text-decoration: none;
}

header img {
  max-width: 100px;
}

.botones-container h1 {
  font-size: 24px;
  margin: 0;
}

/* Estilos para el cuadro de búsqueda */
.search-container {
  display: flex;
  align-items: center;
}

#searchInput {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

#searchInput::placeholder {
  color: #999;
}

.search-container button {
  background-color: #243f65;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}


/* Estilos para el botón de regreso */
.back-button-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.back-button {
  padding: 12px 20px;
  background-color: #243f65;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #ff784d;
}

/* Estilos para la tabla de libros */
.table {
  background-color: #ffffff;
  color: #333333;
  border-radius: 15px;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 15px;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: #243f65;
  color: #ffffff;
  font-size: 18px;
}

/* Estilos para las filas de la tabla */
.table tbody tr:hover {
  background-color: #f2f2f2;
}

/* Estilos para los botones de acción, como Favorito */
.action-button {
  background-color: #243f65;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para la imagen de libro en la tabla */
.table td img {
  max-width: 80px;
}
