/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: #ffffff;
}

/* Estilos de la barra lateral */
.sidebar {
    background-color: #2a2a2a;
    width: 280px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    width: 80px;
}

.logo h1 {
    font-size: 28px; 
}

.heading {
    font-size: 40px;
    color: #ffffff;
    margin-top: 10px;
}

.nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    margin: 20px 0;
    padding: 12px 20px;
    border-radius: 25px;
    transition: background-color 0.3s;
    font-weight: bold;
    background-color: #243f6579;
    width: 150px;
}

.sidebar-link:hover {
    background-color: #ff5500;
}

.sidebar-link img {
    width: 24px; 
    margin-right: 15px;
}

.sidebar-link span {
    font-size: 19px;
    margin-left: 5px;
}

/* Fondo de la tabla */
.table {
    background-color: #422c0b80;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
    margin-left: 280px; /* Ajustar el margen izquierdo para la barra de navegación */
    width: calc(100% - 280px); /* Ajustar el ancho para aprovechar todo el espacio disponible */
}

/* Encabezados de la tabla */
.table thead {
    background-color: #e63a006b;
}

.table thead th {
    color: white;
    padding: 12px 20px;
    font-size: 16px;
}

/* Celdas de la tabla */
.table tbody td {
    color: white;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Enlace de la imagen */
.table tbody td a {
    display: inline-block;
}

/* Hover sobre las filas */
.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}