body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #222;
  color: #fff;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  margin-right: 10px;
}
.back-button-container {
  position: fixed;
  bottom: 20px; 
  left: 20px; 
}

.back-button {
  padding: 12px 20px;
  background-color: #ff5500;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  display: block;
}

.back-button:hover {
  background-color: #ff784d;
}

.title-text {
  font-size: 24px;
  margin: 0;
}

.logout-icon {
  width: 30px;
}

.admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: relative;
  overflow: hidden; 
}

.admin-link {
  text-decoration: none;
  margin-bottom: 20px;
}

.admin-image {
  position: fixed; /* Hacer que la imagen sea estática */
  top: 0;
  left: 0;
  width: 1550px; /* Ancho de la imagen */
  height: auto;
  z-index: -1;
}

.admin-buttons {
  background-color: 0px 8px 16px rgba(36, 63, 101, 0.2);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(36, 63, 101, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1; /* Coloca los botones por encima de la imagen */
}

.admin-button {
  margin: 10px 0; /* Espaciado entre botones */
  padding: 20px 60px;
  background-color: #ff5500;
  color: #fff;
  border: none;
  border-radius: 100px 0 0 100px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0px 8px 16px rgba(255, 85, 0, 0.2);
  position: relative;
  overflow: hidden;
  transform: skewX(-10deg);
}

.admin-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transform: skewX(-45deg);
  transition: left 0.3s;
}

.admin-button:hover:before {
  left: 100%;
}

.admin-button:hover {
  background-color: #e63a00;
  transform: scale(1.05) skewX(-10deg);
}

.logout-link {
  text-decoration: none;
  color: #fff;
}



